
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'board/style.css' %}" />
{% if error %}<p><strong>{{ error }}</strong></p>{% endif %}

<form action="{% url 'board:postcomment' post_pk %}" method="post">
  {% csrf_token %}
  <div class="row">
    <div>
      Comment:
      <input type="text" name="comment_text" required>
      <button type="submit" >Submit</button>
    </div>
  </div>
</form>


<ul>
  {% for comment in comment_list %}
  <li>
    <span>{{ comment.user.username_text }}</span>
    <time>{{ comment.pub_date }}</time>
    <div class="text">
      {{ comment.comment_text }}
    </div>
  </li>
  {% empty %}
  No comments
  {% endfor %}
</ul>
