{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'board/style.css' %}" />
{% if error %}<p><strong>{{ error }}</strong></p>{% endif %}

<form action="{% url 'board:register' %}" method="post">
  {% csrf_token %}
    <div>
      username:
      <input type="text" name="username_text" required>
      <br/>
      password:
      <input type="text" name="password" required>
      <button type="submit" >register</button>
    </div>
</form>

<a href="http://127.0.0.1:8000/board/login/">login</a>
