{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{% block title %}Todo Board{% endblock %}</title>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

  <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
  <link rel="stylesheet" type="text/css" href="{% static 'board/style.css' %}" />

</head>
<body>
<div class="username">Hello {{post_user}}
<a href="http://127.0.0.1:8000/board/logout/" class="ref">logout</a>
</div>

<div style="width:100%;" id="outer" class="content">
<div class="add" >
  <form action="{% url 'board:add_todo' post_user %}" method="post">
    {% csrf_token %}
    <table>
      <tr>
        <td>Todo Task</td>
      </tr>
      <tr>
        <td><input type="text" name="todo_text" required></td>
      </tr>
      <tr>
        <td>Note</td>
      </tr>
      <tr>
          <td><input type="text" name="note"></td>
      </tr>
      <tr>
          <td><button type="submit"> Add todo task</button><td>
      </tr>
    </table>
  </form>
  <br>
<form action="{% url 'board:userpage' post_user %}" method="post">
  {% csrf_token %}
  <table>
    <tr><td>Comment</td></tr>
    <tr><td><input type="text" name="comment_text" required></td></tr>
    <tr><td><button type="submit" >Add comment</button></td></tr>
  </table>
</form>
<br>
{% if error %}<p class="error_message"><strong>{{ error }}</strong></p>{% endif %}

</div>




<div class="todo" style="width:40%;" >

  <table style="table-layout:fixed;">
    <tr>
      <td class = "col1" style="width:15%;">User</td>
      <td class = "col2" style="width:20%;">Time</td>
      <td class = "col3" style="width:30%;">Todo</td>
      <td class = "col4" >Note</td>
    </tr>

  {% for todo in todo_list %}
  <tr>
    <td class="col1" style="width:15%;" >{{ todo.user.username_text }}</td>
    <td class="col2" style="width:20%;"><time>{{ todo.pub_date }}</time></td>
    <td class="col3" style="width:30%;word-wrap:break-word;word-break: break-all;" >
      {{ todo.todo_text }}
    </td>
    <td class="col4" style="width:30%;word-wrap:break-word;word-break: break-all;">
      {{ todo.note }}
    </td>
    {% if todo.user.username_text == post_user %}
    <td class="col5" style="width:5%">
    <form action="{% url 'board:delete_todo' post_user %}" method="post">
      {% csrf_token %}
      <input type="hidden" name="delete" value="{{todo.todo_id}}" />
      <input type="submit" id="del_btn" value="delete" />
    </form>
  </td>
    {% endif %}
  </tr>

  {% endfor %}
   </table>

</div>

<div class="comment" style="width:40%;" >

  <table style="table-layout:fixed;">
  <tr>
    <td class = "col1" style="width:15%;" >User</td>
    <td class = "col2" style="width:20%;">Time</td>
    <td class = "col3">Comment</td>
  </tr>

  {% for comment in comment_list %}
  <tr>
    <td class="col1" style="width:15%;" >{{ comment.user.username_text }}</td>
    <td class="col2" style="width:20%;"><time>{{ comment.pub_date }}</time></td>
    <td class="col3" style="width:60%;word-wrap:break-word;word-break: break-all;">
      {{ comment.comment_text }}
    </td>
    {% if comment.user.username_text == post_user %}
    <td style="width:5%">
    <form action="{% url 'board:delete_comment' post_user %}" method="post">
      {% csrf_token %}
      <input type="hidden" name="delete" value="{{comment.comment_id}}" />
      <input type="submit" id="del_btn" value="delete" />
    </form>
  </td>
    {% endif %}
  </tr>

  {% endfor %}
</table>

</div>

</div>

</body>
</html>
